p {
    color: white;
    font-size: 30px;
    display: inline;
}

body {
    background-image: url('physics-background.jpeg'); 
    background-size: cover;
}

input, select {
    font-size : 20px;
    display: inline;
    background-color: lightgray;
}

input {
    width : 75px;
}

h1 {
  font-size: 100px;
}


#title {
    color:darkgreen;
}

.val-container {
    padding-top: 50px;
}

input[type="checkbox" i] {
    padding-left: 0px;
}