@charset "utf-8";

// Initial vars
$box-background-color: gray;

.val-container {
    position: relative;
}

.area {
    position: fixed;
    top: 300px;
    width: 33%;
    min-height: 47%;
    border-radius: 250px;
    border: 4px solid white;
}

#area-left {
    left: 200px;
}

#area-right {
    right: 200px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    display: inline;
}

body {  
    background-image: url("stars.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}

// Import initial variables
@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";