@charset "utf-8";

html, body {
    height: 100%;
    margin : 0;
}

.bg-img { 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../static/stars.jpeg");
    background-color: #999;
    background-attachment: fixed;
    height: 500%;
}
.val-container {
    position: relative;
}

.auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    padding: 10px;
}

.area {
    background-color: gray;
    position: absolute;
    top: 300px;
    min-width: 28%;
    min-height: 47%;
    border: 5px solid white;
}

#area-left {
    left: 200px;
}

#area-right {
    right: 200px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.panel-block {
    display: none;
} 

label.panel-heading {
    cursor: pointer;
    display: block;
}

.history-item {
    background-color: gray;
    position: relative;
    width: 33%;
    border: 5px solid white;
    left: 50%;
    transform: translate(-50%, 0);
}   

.history-container {
    top: 20%;
    transform: translate(0, 20%);
}

#force-1-panel:checked ~ .panel > .body-1,
#force-2-panel:checked ~ .panel > .body-2 {
    display: flex;
}

// Import initial variables
@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";