{% extends "layout.html" %}

{% block body %}

<meta id="settings" content="{{settings}}">
<div class="area box columns" id="area-left">
    <form id="values-form" method="post">
        <h1 class="title has-text-weight-bold has-text-centered">Enter Values</h1>
        <div class="val-container field is-horizontal">
            <label class="label">Mass: </label>
            <input class="input" type="number" name="mass" step="any">
            <select class="select" name="mass-units">
                <option value="kg">kilograms</option>
                <option value="lb">pounds</option>
                <option value="t">tons</option>
            </select>
        </div>
        <br>
        <div class="val-container field is-horizontal">
            <label class="label">Position: (</h1></label>
            <input class="input" type="number" name="x" step="any">
            <select class="select" name="x-units">
                <option value="m">meters</option>
                <option value="ft">feet</option>
                <option value="mi">miles</option>
                <option value="km">kilometers</option>
                <option value="au">AU</option>
                <option value="ly">light years</option>
            </select>
            <label class="label">, </h1></label>
            <input class="input" type="number" name="y" step="any">
            <select class="select" name="y-units">
                <option value="m">meters</option>
                <option value="ft">feet</option>
                <option value="mi">miles</option>
                <option value="km">kilometers</option>
                <option value="au">AU</option>
                <option value="ly">light years</option>
            </select>
            <label class="label">)</h1></label>
        </div>
        <br>
        <div class="val-container field is-horizontal">
            <label class="label">Velocity: </label>
            <input class="input" type="number" name="vel" step="any">
            <select class="select" name="vel-units">
                <option value="m/s">meters per second</option>
                <option value="mi/hr">miles per hour</option>
                <option value="km/hr">kilometers per hour</option>
                <option value="ft/s">feet per second</option>
                <option value="k">knots</option>
            </select>
        </div>
        <div class="val-container field is-horizontal">
            <label class="label">Angle: </label>
            <input class="input" type="number" name="ang" step="any">
            <select class="select" name="ang-units">
                <option value="rd">radians</option>
                <option value="dg">degrees</option>
            </select>
        </div>
        <div class="val-container field is-horizontal">
            <label class="label">Time to Simulate: </label>
            <input class="input" type="number" name="time" id="time" step="any">
            <select class="select" name="time-units" id="time-units">
                <option value="ms">milliseconds</option>
                <option value="s" selected="selected">seconds</option>
                <option value="m">minutes</option>
                <option value="h">hours</option>
                <option value="d">days</option>
                <option value="mo">months</option>
                <option value="y">years</option>
            </select>
        </div>
        <div class="val-container field" id="forces-div">
            <label class="label">Gravity:</label>
            <input class="checkbox" type="checkbox" name="grav-checkbox" id="grav-checkbox" onchange="gravChanged();">
            <div id="grav"></div>
            <label class="label">Forces: </label>
            <button onclick="addForce();" class="button"><em class="fa fa-plus"></em></button>
            <br>
        </div>
        <br>
        <button type="submit" id="calculate-button" class="button">Calculate</button>
    </form>
</div>
<div class="area box" id="area-right">
    <h1 class="title has-text-weight-bold has-text-centered">Results</h1>
    <div class="columns">
        <div class="column">
            {% if data is defined %}
            <label class="label"><h1 class="title is-2 pt-6">Mass {{ data["mass"] }}</h1></label>
            <label class="label"><h1 class="title is-2 pt-6">Position: ({{ data["x"] }}, {{ data["y"] }})</h1></label>
            <label class="label"><h1 class="title is-2 pt-6">Velocity: {{ data["vel"] }}</h1></label>
            <label class="label"><h1 class="title is-2 pt-6">Angle: {{ data["ang"] }}</h1></label>
            {% endif %}
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='calculator.js')}}" type="text/javascript"></script>
{% endblock %}