<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Physics Calculator</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <form id="values-form" method="post">
            <h1 id="title">Physics Calculator</h1>
            <div class="val-container">
                <p>Mass: </p>
                <input type="number" name="mass" value="1">
                <select name="mass-units">
                    <option value="kg">kilograms</option>
                    <option value="lb">pounds</option>
                    <option value="t">tons</option>
                </select>
            </div>
            <br>
            <div class="val-container">
                <p>Position: x</p>
                <input type="number" name="x" value="0">
                <select name="x-units">
                    <option value="m">meters</option>
                    <option value="ft">feet</option>
                    <option value="mi">miles</option>
                    <option value="km">kilometers</option>
                    <option value="au">AU</option>
                    <option value="ly">light years</option>
                </select>
                <p>y</p>
                <input type="number" name="y" value="0">
                <select name="y-units">
                    <option value="m">meters</option>
                    <option value="ft">feet</option>
                    <option value="mi">miles</option>
                    <option value="km">kilometers</option>
                    <option value="au">AU</option>
                    <option value="ly">light years</option>
                </select>
            </div>
            <br>
            <div class="val-container">
                <p>Velocity: </p>
                <input type="number" name="vel" value="0">
                <select name="vel-units">
                    <option value="m/s">meters per second</option>
                    <option value="mi/hr">miles per hour</option>
                    <option value="km/hr">kilometers per hour</option>
                    <option value="ft/s">feet per second</option>
                    <option value="k">knots</option>
                </select>
            </div>
            <div class="val-container">
                <p>Angle: </p>
                <input type="number" name="ang" value="0">
                <select name="ang-units">
                    <option value="rd">radians</option>
                    <option value="dg">degrees</option>
                </select>
            </div>
            <div class="val-container">
                <p>Time to Simulate: </p>
                <input type="number" name="time" value="1" id="time">
                <select name="time-units">
                    <option value="s">seconds</option>
                    <option value="m">minutes</option>
                    <option value="h">hours</option>
                    <option value="d">days</option>
                    <option value="mo">months</option>
                    <option value="y">years</option>
                </select>
            </div>
            <div class="val-container" id="forces-div">
                <p>Forces: </p>
                <button onclick="addForce();"><em class="fa fa-plus"></em></button>
                <br>
                <p>Gravity:</p>
                <input type="checkbox" name="grav-checkbox" id="grav-checkbox" onchange="gravChanged();">
                <div id="grav-input"></div>
            </div>
            <br>
            <button type="submit" id="calculate-button">Calculate</button>
        </div>
    </body>
    <script>
        $(document).on("submit", "#values-form", (e) => {
            e.preventDefault();
            const form = document.getElementById("values-form");
            var values = {};
            Array.from(form.elements).forEach(element => {  
                if (!(element.getAttribute("name") == null)) {
                    values[element.getAttribute("name")] = element.value;
                }
            });
            $.ajax({
                type : 'POST',
                url : '/',
                data : values,
            })
        })

        const forcesDiv = document.getElementById("forces-div")
        let forceCounter = 0;
        function addForce() {
            forceCounter++;
            const timeSelect=`<option value="s">seconds</option>
                    <option value="m">minutes</option>
                    <option value="h">hours</option>
                    <option value="d">days</option>
                    <option value="mo">months</option>
                    <option value="y">years</option>`
            const html = `<br>
            <p>Name: </p>
            <input type="text">
            <p style="padding-left:20px;">Strength:</p>
            <input name="force-${forceCounter}" type="number" value="1">
            <p>newtons</p>
            <p style="padding-left:20px;">Angle:</p>
            <input name="force-${forceCounter}-ang" type="number" value="0">
            <select name="force-${forceCounter}-ang-units">
                <option value="rd">radians</option>
                <option value="dg">degrees</option>
            </select>
            <p style="padding-left:20px;">Interval Active:</p>
            <input name="force-${forceCounter}-start" type="number" value="0">
            <select name="force-${forceCounter}-start-units">
                ${timeSelect}
            </select>
            <p style="padding-left:10px; padding-right:10px;">to</p>
            <input name="force-${forceCounter}-end" id="force-${forceCounter}-end" type="number" value="${document.getElementById("time").value}" onchange="endChanged(${forceCounter});">
            <select name="force-${forceCounter}-end-units">
                ${timeSelect}
            </select>
            `
            forcesDiv.innerHTML = forcesDiv.innerHTML + html
        }

        function gravChanged() {
            const checkbox = document.getElementById("grav-checkbox");
            const gravDiv = document.getElementById("grav-input");
            if (checkbox.checked) {
                gravDiv.innerHTML = `<input type="number" name="grav-coeff" value="9.81">`;
            } else {
                gravDiv.innerHTML = ``;
            }
        }

        function endChanged(forceNum) {
            const endInput = document.getElementById(`force-${forceNum}-end`);
            const timeInput = document.getElementById("time");
            if (endInput.value > timeInput.value) endInput.value = timeInput.value;
        }
    </script>
</html>