<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page_title}}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
        <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-end">
                <a class="button is-light" href="{{ url_for('index') }}"><strong>Calculator</strong></a>
                {% if not logged_in %}
                <a class="button is-light" href="{{ url_for('signup') }}"><strong>Sign up</strong></a>
                <a class="button is-light" href="{{ url_for('login') }}"><strong>Log in</strong></a>
                {% else %}
                <a class="button is-light" href="{{ url_for('history_redirect') }}"><strong>History</strong></a>
                <a class="button is-light" href="{{ url_for('logout') }}"><strong>Log out</strong></a>
                {% endif %}
            </div>
        </nav>
        <div class="bg-img">
            <div class="tile">
                <figure class="image">
                    <img src="../static/stars.jpeg" alt="Image missing">
                </figure>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>