{% extends "layout.html" %}

{% block body %}
<div class="box field auth">
    <form id="login-form" method="post">
        <h1>Login</h1>
        <label>Username:</label>
        <input class="input" name="username" id="username">
        <label>Password:</Label>
        <input class="input" name="password" type="password">
        <button class="button" type="submit" id="login-button">Login</button>
    </form>
    {% if error is defined %}
    <p>{{error}}</p>
    {% endif %}
</div>
<script src="{{url_for('static', filename='login.js')}}" type="text/javascript"></script>
{% endblock %}